*.log
*.pot
*.pyc
*/*/__pycache__/
*/__pycache__/
__pycache__/
__pycache__
credentials.py
env
venv
*.sublime*
node_modules
dist
twitter_credentials.json
weather_credentials.json

server/venv
static/node_modules
.vscode
__pycache__
server/__pycache__
server/migrations
server/instance
server/app/__pycache__
static/dist/bundle.js
static/dist/styles.css
static/dist
server/app/uploads/