.datasetpc {
    width:100%;
    height:45px;
    border:1px solid black;
    margin-top:10px;
    display:flex;
    align-items:center;
    position:relative;
    cursor: pointer;
    transition: all 0.3s ease;
}
.datasetpcs {
    width:100%;
    height:45px;
    border:1px solid black;
    margin-top:10px;
    display:flex;
    align-items:center;
    position:relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

.datasetindexpc {
    position:absolute;
    top:50%;
    left:10%;
    transform:translate(-20%, -50%);
    background: transparent;
}

.datasetnamepc {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background: transparent;
}

.dsactive {
    color:white;
    background:#d2002e;
}