@import url("https://fonts.googleapis.com/css?family=Roboto");

.login-pc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "dhl-half form-half";
}

.dhl-half-pc {
  grid-area: dhl-half;
  background: url("../images/DHL_logo.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

.form-half-pc {
  grid-area: form-half;
  background: white;
  height: 100vh;
}

.form-side-pc {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    "welcome-msg"
    "form-input";
  height: 100%;
}

.welcome-msg-pc {
  grid-area: welcome-msg;
  text-align: center;
  justify-self: center;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

.form-input-pc {
  grid-area: form-input;
  height: 100%;
}

.form-input2-pc {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "fields"
    "footer";
  height: 100%;
}

.login-form-pc {
  grid-area: fields;
}

.login-footer-pc {
  padding: 30px;
}

.center-pc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-footer-pc {
  grid-area: footer;
}

.login-username-input-pc, .login-password-input-pc {
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fcfcfc;
  border: solid 1px #eeeeee;
}




.label-pc {
  font-family: "Roboto", sans-serif;
  color: #a3a3a3;
}

.login-button-pc {
  background-color: #5baad8;
  padding: 8px 230px;
  font-size: 20px;
  color: white;
  border: none;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  cursor:pointer;
}
