@import url("https://fonts.googleapis.com/css?family=Roboto:900");

.body-layout {
  margin: 0;
  background-color: #f0f0f0;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.layout {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 60px auto;
  grid-template-areas:
    "logo header"
    "sidebar content";
  font-family: 'Nunito Sans', sans-serif;
}

.header-layout {
  grid-area: 1/1/1/3;
  background-color: #fecb2f;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 20;
  position: relative;
  box-shadow: 0 5px 4px -2px gray;
}

.logo-layout {
  grid-area: logo;
}

.logo-layout img {
  width: 100%;
  height: 100%;
  justify-self: center;
  object-fit: cover;
  z-index: 30;
  position: relative;
}

.sidebar-layout {
  grid-area: sidebar;
  background-color: #4d5762;
  color: #ffffff;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 100%;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20px;
}

.sidebar-item.active {
  background-color: #fecb2f;
  color: #3a3a3a;
  font-weight: 800;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  filter: none;
}

.sidebar-item {
  display: flex;
  color: white;
  padding: 1em 1em;
  text-decoration: none;
  /* border-top: 0.5px solid white;
  border-bottom: 0.5px solid white; */
  font-size: 1em;
  font-weight: 400;
  align-items: center;
  margin-bottom: 7px;
}

.sidebar-item.active>img {
  filter: none;
}

.sidebar-item>img {
  height: 2em;
  padding-right: 0.5em;
  filter: grayscale(100%);
}

.sidebar-item:hover {
  background-color: #fecb2f;
  color: #3a3a3a;
  font-weight: 800;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all ease-in-out 250ms;
}

.sidebar-item:hover>img {
  filter: none;
}

.noHover {
  pointer-events: none;
}

.content-layout {
  grid-area: content;
  padding: 1.5rem 2rem;
}

.horizontal {
  display: block;
  color: black;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}

li.vertical {
  display: block;
  color: white;
  padding: 30px 25px;
  text-decoration: none;
  text-align: left;
}

li a:hover {
  background-color: #555;
  color: white;
}

li a:active {
  background-color: #555;
  color: white;
}

.active {
  background-color: #fecb2f;
}

/*BI CSS*/
.content{
  line-height: 1.3;
}

.label{
  color:#a3a3a3;
  font-size:18px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #fecb2f;
  border: none;
  color: black;
  text-align: center;
  font-size: 15px;
  padding: 6px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;

}

.block {
  display: inline-block;
  border-radius: 4px;
  background-color: #fecb2f;
  border: none;
  color: black;
  text-align: center;
  vertical-align: center;
  font-size: 15px;
  padding: 150px;
  width: 100%;
  height: 450px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
}

.cardview {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: white;
  transition: 0.3s;
  width: 100%;
  height: 200px;   
  border-radius: 12px;
}

.containerview {
  padding: 10px 16px;
  margin: auto;   
  text-align: left;  
}

.cardcombine {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: white;
  transition: 0.3s;
  width: 100%;
  height: 200px;
  border-radius: 12px;        
}

.containercombine {
  padding: 10px 16px;
  margin: auto;   
  text-align: left;  
}

div.cardtitle {
  grid-area: 1/1/2/2;
  justify-self: center;
  align-self: center;
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 2px 1px rgba(128, 128, 128, 0.3);
}

div.cardsubtitle{
  font-size: 15px;
  font-family: "Roboto", sans-serif;  
  font-style: italic;
  color: #696969;  
}

div.cardPageButton{
  grid-area: 1/1/2/2;
  justify-self: center;
  align-self: center;
  color: #D40511;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 2px 1px rgba(128, 128, 128, 0.3); 
}

div.cardButtonInfo{
  font-size: 14px;
  font-family: "Roboto", sans-serif;  
  font-weight: normal;
  text-transform: lowercase;
  color: black;  
}

div.cardClickHere{
  font-size: 18px;
  font-family: "Roboto", sans-serif;  
  font-weight: bold;
  text-transform: none;
  color: black;  
}

div.carderrormsg{
  font-size: 14px;
  font-family: "Roboto", sans-serif;  
  font-weight: bold;
  color: red;  
}

table.outputtable{
  border-collapse: collapse;
  border-radius: 12px;          
}

table.outputtable th{
  background-color: #4CAF50;
  color: white;  
  padding: 5px;
}

table.outputtable tr:nth-child(even){background-color: white}
table.outputtable tr:nth-child(odd){background-color: #fdfcfb}
table.outputtable tr:hover {background-color:#f5f5f5;}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  font-family: "Roboto", sans-serif;  
  background-color: #4d5762;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.loading {
  background-color: #fecb2f; /* Green background */
  border: none; /* Remove borders */
  color: black; /* White text */
  padding: 12px 24px; /* Some padding */
  font-family: "Roboto", sans-serif;  
  font-size: 16px; /* Set a font-size */
  border-radius: 10px;
  text-align: center;
}

/* Add a right margin to each icon */
.fa {
  margin-left: -12px;
  margin-right: 8px;
}

.loader {
  border: 10px solid orange;
  border-radius: 50%;
  border-top: 10px solid white;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}