* {
  box-sizing: border-box;
}

.dropzone {
  width: 100%;
  height: 80%;
  border: 2px dashed #ccc;
  color: #a3a3a3;
  background-color:#F0F2F9;
  display:grid;
  grid-template-rows: 2fr 1fr 1fr 1fr;
  grid-template-areas: 
    "upload-icon"
    "drag-text"
    "manual-upload"
    "uploaded-text"
}

.dropzone.dragover {
  border-color: #000;
  background-color: #88aaff;
  color: #000000;
}

.upload-icon{
  grid-area:upload-icon;
}
.uploadtext {
  grid-area: uploaded-text;
  color: blue;
  }

.align-right {
  display: flex;
  align-items: right;
  justify-content: right;
}

.upload-btn{
  background: #fecb2f;
  padding: 15px 32px;
  text-align: center;
  border:none;
  font-size:14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius:5px;
}

.upload-btn:hover{
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius:5px;

}

.drag-text{
  grid-area: drag-text;
}

.manual-upload{
  grid-area: manual-upload;
  
}

.center{
  display:flex;
  justify-content: center;
  align-content: center;
}

.inputfile{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + .labelinput {
  background: #4d5762;
  padding: 15px 32px;
  text-align: center;
  border:none;
  font-size:14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius:5px;
}

.inputfile:focus + .labelinput,
.inputfile + .labelinput:hover {
  background-color: white;
  
}