@import url("https://fonts.googleapis.com/css?family=Roboto:900");

/* VisDisplay CSS */
.vis-display-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 9fr 1fr;
  grid-template-areas: "sidebar chart" "back next";
  box-sizing: border-box;
  grid-gap: 9px;
  height: 100%;
}

.vis-display-sidebar {
  box-sizing: border-box;
  grid-area: sidebar;
  background-color: white;
  padding: 10px 10px;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 4px -2px gray;
}

.vis-display-chart {
  box-sizing: border-box;
  grid-area: chart;
  background-color: white;
  padding: 10px 10px;
  box-shadow: 0 4px 4px -2px gray;
  height: 100%;
  border-radius: 5px;
}

/* VisSelect CSS */
.vis-select-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 9fr 1fr;
  grid-template-areas: "dataset chart" "back next";
  box-sizing: border-box;
  grid-gap: 9px;
  height: 100%;
}

.vis-select-dataset {
  box-sizing: border-box;
  grid-area: dataset;
  background-color: white;
  padding: 10px 30px;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 4px -2px gray;
}

.vis-select-chart {
  box-sizing: border-box;
  grid-area: chart;
  background-color: white;
  padding: 10px 30px;
  box-shadow: 0 4px 4px -2px gray;
  height: 100%;
  border-radius: 5px;
}

.vis-card-grid {
  display: grid;
  grid-template-rows: 80px 1fr;
}

.vis-card-grid-config {
  display: grid;
  grid-template-rows: 50px 80px 1fr 50px;
}

.vis-select-filter-box {
  margin: 0px 10px 20px 10px;
  padding: 10px 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 90%;
}

.vis-card-title {
  grid-area: 1/1/2/2;
  justify-self: center;
  align-self: center;
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 2px 1px rgba(128, 128, 128, 0.3);
}

/* dataset item design */
.vis-card-grid > form > .inputGroup {
  background-color: #fff;
  display: block;
  margin: 10px 0;
  position: relative;
}

.vis-card-grid > form > .inputGroup label {
  padding: 12px 30px;
  border: 0.5px dotted #ff6868;
  width: 100%;
  display: block;
  text-align: left;
  color: rgb(155, 155, 155);
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
}

.vis-card-grid > form > .inputGroup label:hover {
  background: #fff2ed;
  transition: all ease-in-out 100ms;
}

.vis-card-grid > form > .inputGroup label:before {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  content: "";
  background-color: #ff7f50;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 800ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}

.vis-card-grid > form > .inputGroup label:after {
  width: 32px;
  height: 32px;
  content: "";
  border: 0.5px dotted #ff6868;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 4px 5px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 29px;
  top: 45%;
  transform: translateY(-40%);
  cursor: pointer;
  transition: all 200ms ease-in;
}

.vis-card-grid > form > .inputGroup input:checked ~ label {
  color: #fff;
  /*   text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3); */
}

.vis-card-grid > form > .inputGroup input:checked ~ label:before {
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}

.vis-card-grid > form > .inputGroup input:checked ~ label:after {
  background-color: #3cb371;
  border-color: #3cb371;
}

.vis-card-grid > form > .inputGroup input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 29px;
  top: 45%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

.vis-card-grid > form {
  /* padding: 0 16px; */
  /* max-width: 550px; */
  /* margin: 50px auto; */
  font-size: 15px;
  font-weight: 700;
  font-family: inherit;
  line-height: 30px;
  text-transform: uppercase;
}

/* Styles for alert... 
by the way it is so weird when you look at your code a couple of years after you wrote it XD */

.alert {
  box-sizing: border-box;
  background-color: #0dff92;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 300;
  padding: 20px 40px;
  color: #333;
}

.alert h2 {
  font-size: 22px;
  color: #232323;
  margin-top: 0;
}

.alert p {
  line-height: 1.6em;
  font-size: 18px;
}

.alert a {
  color: #232323;
  font-weight: bold;
}

/* VisNav Buttons CSS */
.vis-next {
  grid-area: next;
  align-self: center;
  justify-self: end;
}

.vis-back {
  grid-area: back;
  align-self: center;
  justify-self: start;
}

button {
  width: 130px;
  height: 40px;
  background: #fecb2f;
  border: none;
  border-radius: 5px;
  position: relative;
  border-bottom: 4px solid #f2ad62;
  color: rgb(35, 35, 35);
  font-weight: 700;
  font-size: 15px;
  text-align: left;
  text-indent: 5px;
  cursor: pointer;
  box-shadow: 0 4px 4px -2px gray;
}

button:active {
  top: 1.5px;
}

/* Next Button CSS */
button.next:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid #ff7f50;
  border-bottom: 20px solid #ff7f50;
  border-left: 16px solid transparent;
  border-right: 20px solid #ff7f50;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;
}

/* Back Button CSS */
button.back {
  text-align: right;
  padding-right: 12px;
  box-sizing: border-box;
}

button.back:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid #ff7f50;
  border-bottom: 20px solid #ff7f50;
  border-right: 16px solid transparent;
  border-left: 20px solid #ff7f50;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px 0 0 5px;
}

/* General Button CSS */

button.general {
  width: 40px;
  text-align: center;
  text-indent: 0;
}
button.general:after {
  display: none;
}
