{% extends "layout.html" %}
{% block content %}
    <h1>Export Page</h1>
    <label>Export Selected File to Desktop</label>
    <br>
    <b>Table Name:</b> {{tablename}}
    <button onclick="downloadFile({{datacontent}}, '{{tablename}}')">Save File</button>
    <script>
    function downloadFile(datacontent, tablename) {
	var element = document.createElement('a');
	var newContent = datacontent.replace(/;/g, "\n")
	element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(newContent));
	element.setAttribute('download', tablename + ".csv");
    
	element.style.display = 'none';
	document.body.appendChild(element);
    
	element.click();
	document.body.removeChild(element);
    }
    </script>
{% endblock content %}