{% extends "layout.html" %} {% block content %}
<script type="text/javascript" src="../dist/bundle.js"></script>

<head>
  
  <link
    rel="stylesheet"
    href="{{ url_for('site.static', filename='css/Upload.css') }}"
  />
</head>

<body id="uploadPage">
  <!-- <form enctype="multipart/form-data">
    Select file to upload:
    <input type="file" name="file" id="fileToUpload" />
    <button type="button" onclick="upload()">UPkoad</button>
  </form> -->

  <br />
  <div class="dropzone-pc" id="dropzone" >
    <div class="center-pc">
      <img
        src="{{ url_for('site.static', filename='images/folder.png') }}"
        alt="Upload Icon"
        height="100"
        width="100"
      />
    </div>
    <div class="center-pc">
      <span class="drag-text-pc">Drag and drop files here</span>
    </div>
    <span class="manual-upload-pc">
      <div class="center-pc">
        <input type="file" name="file" id="uploaded-btn" class="inputfile-pc" />
        <label class="labelinput-pc" for="uploaded-btn">Choose File</label>
      </div>
    </span>
    <div class="center-pc">
      <div class="uploadtext-pc"><strong id="uploadedFile"></strong></div>
    </div>
  </div>

  <br />

  <div class="align-right-pc">
    <button class="upload-btn-pc" onclick="upload()">Upload</button>
  </div>
<script>
  var files = [];

  function upload() {
    var formData = new FormData();
    formData.append("file", files[0]);
    var xhr = new XMLHttpRequest();
    xhr.onload = function() {
      var data = JSON.parse(this.responseText);
      if (data["status"] == 200) {
        alert("Data has been successfully uploaded!");
        window.location = "/visualisation";
      } else {
        alert(
          "Data headers are not correct, please correct them in the next page"
        );
        window.location = "/upload/edit_table";
      }
    };

    xhr.open("post", "/upload_api");
    console.log("Sent");
    xhr.send(formData);
  }
  handleFiles(files);
  function handleFiles(files) {
    if (window.FileReader) {
      console.log("file reader supported");
    } else {
      console.log("not supported");
    }
  }

  (function() {
    localStorage.removeItem("viz")
    var dropzone = document.getElementById("dropzone");
    var uploaded = document.getElementById("uploaded-btn");

    //create a upload function, checks accept only one file and sends it to the backend "/upload/"
    var loadFile = function(file) {
      if (files.length == 0) {
        alert("Please select a file");
      } else if (files.length > 1) {
        alert("Upload only one file");
      } else {
        document.getElementById("uploadedFile").innerHTML =
          files[files.length - 1].name;
      }
    };

    // This is for the animation of the drag n drop

    dropzone.ondrop = function(event) {
      event.preventDefault();
      this.className = "dropzone-pc";
      var fileList = event.dataTransfer.files;
      if (files.length >= 1) {
        files = [];
      }
      files.push(fileList[fileList.length - 1]);

      loadFile(fileList[fileList.length - 1]);

      loadFile(event.dataTransfer.files);
      files.push(event.dataTransfer.files);
    };

    dropzone.ondragover = function() {
      this.className = "dropzone-pc dragover-pc";
      return false;
    };

    dropzone.ondragleave = function() {
      this.className = "dropzone-pc";
      return false;
    };

    uploaded.onchange = function(event) {
      var fileList = uploaded.files;
      if (files.length >= 1) {
        files = [];
      }
      files.push(fileList[fileList.length - 1]);
      loadFile(fileList[fileList.length - 1]);
    };
  })();
</script>
<script
    type="text/javascript"
    src="{{ url_for('site.static', filename='js/Layout.js') }}"
></script>
</body>

{% endblock content %}
