{% extends "layout.html" %}
{% block content %}    
    <br><br>    
    <div>
        <table style="width:100%">
            <tr>
                <td style="width:25%" valign="top" align="center" bgcolor="white">
                    <br>
                    <font size="6"><b>Datasources</b></font>
                    <form>
                        Data Source 1:
                        <br>
                        <label for="table1"><b>{{tablename}}</b></label>
                        <br><br>
                        Data Source 2:
                        <br>
                        <label for="table2"><b>{{tablename2}}</b></label>
                        <br><br>
                        <input type="button" value="Edit Data Sources" onclick="history.go(-2)">
                    </form>
                    <br><br>
                    <font size="6"><b>Variables</b></font>
                    <form>
                        Variable (X):
                        <br>
                        <label for="variable1"><b>{{variablename}}</b></label>
                        <br><br>
                        Variable (Y):
                        <br>
                        <label for="variable2"><b>{{variablename2}}</b></label>
                        <br><br>
                        <input type="button" value="Edit Variables" onclick="history.go(-1)">                
                    </form>
                </td>

                <td></td>
                <td align="center" style="width:74%" bgcolor="white">
                    <div style="background-color:white">                
                        
                        <div id="chart"></div>
                        
                        <script>
                            function getData() {
                                return Math.random();
                            }
                            
                            Plotly.plot('chart',[{
                                y:[getData()],
                                type:'line'
                            }]);
                        </script>

                        <!-- D3.js -->
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
                        <!-- jQuery -->
                        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
                        <!-- Plotly.js -->
                        <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>

                    </div>
                    <br>
                    <b>Max:</b> {{maximumY}} <b>Min:</b> {{minimumY}}
                    <br>
                    <br>
                </td>
                <br>
            </tr>
        </table>
    </div>
{% endblock content %}
