{% extends "layout.html" %}
{% block content %}    
    <br><br>   
    <div>
        <table style="width:100%">
            <tr>
                <td style="width:25%" valign="top" align="center" bgcolor="white">
                    <br>                
                    <font size="6"><b>Datasources</b></font>  
                    <form>                
                        Data Source 1:
                        <br>
                        <label for="table1"><b>{{tablename}}</b></label>
                        <br><br>
                        Data Source 2:
                        <br>
                        <label for="table2"><b>{{tablename2}}</b></label>
                        <br><br>
                        <input type="button" value="Edit Data Sources" onclick="history.back()">
                    </form>
                    <br><br>                    
                    <font size="6"><b>Variables</b></font>
                    <form method="POST" action="/chartpage/" enctype="multipart/form-data">  
                        <label for="variablelist">Variable (X):</label>
                        <br>
                        <select name="variablelist" method="GET" action="/variablespage/">
                        {% for col in cols %}
                        <option value= "{{col}}" SELECTED>{{col}}</option>"
                        {% endfor %}
                        </select>
                        <br><br>
                        <label for="variablelist2">Variable (Y):</label>        
                        <br>
                        <select name="variablelist2" method="GET" action="/variablespage/">
                        {% for col in cols2 %}
                        <option value= "{{col}}" SELECTED>{{col}}</option>"
                        {% endfor %}
                        </select>        
                        <input type="hidden" name="tablename" value="{{tablename}}">
                        <input type="hidden" name="tablename2" value="{{tablename2}}">
                        <br><br>
                        <button type="submit">Generate Scatterplot</button>
                        <br><br><br>
                    </form>
                </td>
                <td></td>
                <td align="center" style="width:74%" bgcolor="white">
                    <h3>Select Variables</h3>
                    <p>Click "Generate Scatterplot" for Scatterplot Visualisation</p>
                </td>
            </tr>
        </table>
    </div>
{% endblock content %}
