{% extends "appbuilder/base.html" %}
{% block content %}
    <h1>Table View Page</h1>
    <form method="POST" action="/correlationclass/tableview/" enctype="multipart/form-data">
    <div>
        <label for="tablelist">Table View Display</label>
        <br>    
        <select name="tablelist" method="GET" action="/correlationclass/tablepage/">
        {% for table in tables %}
        <option value= "{{table}}" SELECTED>{{table}}</option>"
        {% endfor %}
        </select>
        <button type="submit">Display</button>
    </div>
    </form>
    <table border="1">
    {% 
    for col in tabledata.description 
    %}
    <th>{{col[0]}}</th>
    {% endfor %}
    {% for item in tabledata %}
        <tr>
            {% for col in item %}
            <td>{{col}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>    
{% endblock %}
